@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="main">
    <h1 class="sub-title">Transaction List</h1>
    <input type="text" id="user-search-bar" placeholder="Search by transaction ID">
    <button id="user-search-btn" class="standard-button" onclick="handleUserSearch()">Search</button>
    <!-- Clear Search Button -->
    <button id="user-clear-search" class="standard-button" onclick="clearUserSearch()">Clear Search</button>
    <br />

    <div id="dateSearch-container">
    <!-- Search Date Range Buttons -->
        <label class="standard-button" for="search-start-date" id="Label">Start Date: </label>
        <input class="standard-button" type="date" id="user-start-date-bar">
        <label class="standard-button" for="search-end-date" id="Label">  End Date: </label>
        <input class="standard-button" type="date" id="user-end-date-bar">
        <button id="user-search-date-btn" class="standard-button" onclick="handleUserDateSearch()">Search Date Range</button>
        <br />
    </div>

    <div id="buttons-container">
        <label class="standard-button" id="Label"> Sorting : </label>
           <!-- Sort Buttons -->
        <button id="user-sort-asc" class="standard-button" onclick="handleUserSort(true)">Sort Ascending</button>
        <button id="user-sort-desc" class="standard-button" onclick="handleUserSort(false)">Sort Descending</button>
        <!-- Sort By Date Buttons -->
        <br />
        <button id="user-sort-date-asc" class="standard-button" onclick="handleUserDateSort(true)">Sort By Most Recent</button>
        <button id="user-sort-date-desc" class="standard-button" onclick="handleUserDateSort(false)">Sort By Oldest</button>
        <br />
    </div>

    <div id="filter-container">
        <label class="standard-button" id="Label"> Filter : </label>
        <!-- Filter Buttons -->
        <button id="user-filter-deposit" class="standard-button" onclick="handleUserFilter('DEPOSIT')">Filter Deposits</button>
        <button id="user-filter-withdrawal" class="standard-button" onclick="handleUserFilter('WITHDRAW')">Filter Withdrawals</button>
        <button id="user-filter-transfer" class="standard-button" onclick="handleUserFilter('TRANSFER')">Filter Transfers</button>

        <!-- Clear Filter Button -->
        <button id="user-clear-filter" class="standard-button" onclick="clearUserFilter()">Clear Filter</button>
        <br />
    </div>

    <table id="transaction-table" class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Transaction Type</th>
                <th>Account No</th>
                <th>Amount</th>
                <th>Transaction Date</th>
                <th>Transferred To Account</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="transactionTableBody">
            <!-- Transaction rows will be added here dynamically -->
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>