@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="main">
    <h1>Transaction List</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Transaction Type</th>
                <th>Account No</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody id="transactionTableBody">
            <!-- Transaction rows will be added here dynamically -->
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>