@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="main">
    <h1 class="sub-title"> Profile</h1>
    <div id="profile-container">
        <img id="profileImage" /><br /><br />
        <label>Username <span id="username"></span></label><br /><br />
        <label>Email: <span id="email"></span></label><br /><br />
        <label>Account Number: <span id="accountNo"></span></label><br /><br />
        <label>Address: <span id="address"></span></label><br /><br />
        <label>Contact Number: <span id="phone"></span></label><br /><br />
        <br />
        <button type="button" id="updateProfile" onclick="userUpdateProfile()"> Edit Profile Details </button>
    </div>
</div>
<div id="update-modal" class="modal">
    <h2>Edit Profile Details</h2><br /><br />
        <form id="updateProfileForm">
            <label for="new-email">New Email:</label>
        <input type="email" id="new-email" name="new-email"><br /><br />

            <label for="new-address">New Address:</label>
        <input type="text" id="new-address" name="new-address"><br /><br />

            <label for="new-phone">New Contact Number:</label>
        <input type="tel" id="new-phone" name="new-phone"><br /><br />

            <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password"><br /><br />

            <button type="button" id="confirm-update">Save Changes</button>
            <button type="button" id="cancel-update"> Cancel</button>
        </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>