@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div id=" = main" >
        <div id="header">
        <h1> User Panel </h1>
    </div>
    <div id="navigation">
        <ul>
            <li> <button type="button" id="Home" onclick="loadView()">Home</button></li>
            <li> <button type="button" id="ProfileButton" onclick="loadUserView('user-profile')">Profile</button></li>
        </ul>
    </div>
    <div id="summary">
        <h1> Account Summary</h1>
        <label>Account Number: <span id="acctNo"></span></label>
        <label>Balance: <span id="balance"></span></label>
        <br/>
        <button id="history" onclick="loadUserView('transaction-history')"> View Transaction History </button>
        <button id="transaction" onclick="loadCreateTransaction()"> Make A Transaction </button>
        <button id="transfer"> Make A Transfer </button>
    </div>
    <div id="content">
    </div>
    </div>

````<div id="create-transaction" class="modal">
        <div class="modal-content">
        <h2 class="form-field">Create New Transaction</h2>
            <form id="createTransactionForm">
            <label for="transaction-type" class="form-field">Transaction Type:</label>
                <select id="transaction-type" class="form-field" name="transaction-type-name">
                    <option>DEPOSIT</option>
                    <option>WITHDRAW</option>
                </select>
                    <br>

            <label for="amount" class="form-field">Amount:</label>
                <input type="number" id="amount" name="amount-name" ><br>

            <button type="button" class="form-field" id="confirm-transaction">Create Transaction</button>
            <button type="button" class="form-field" id="cancel-transaction"> Cancel</button>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
